{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    html,
    body {
        font-family: 'Varela Round', sans-serif;
    }
</style>
    <h1>{{ ('Sign In') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>{{ ('New User?') }} <a href="{{ url_for('auth.register') }}">{{ ('Click to Register!') }}</a></p>
    <p>
        {{ ('Forgot Your Password?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ ('Click to Reset It') }}</a>
    </p>
{% endblock %}