{% extends 'bootstrap/base.html' %}

<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
    html,
    body {
        font-family: 'Varela Round', sans-serif;
    },

</style>

{% block title %}
    {% if title %}{{ title }} - MS-SpecView{% else %}Welcome to MS-SpecView{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-static-top" style="background-color: #0A2B3D" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.casc4de.eu/" style="padding-top: 6px">Powered by <span><img alt="Bootstrap Image Preview" src="../static/img/casc4de_logo_900.png" style="width:auto;height:40px;padding-left: 7px;padding-right: 7px"/></span><span><strong> |</strong></span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}"><span> <img src="../static/img/color_icons/png/home.png" style="width:18px;height:auto"/> </span> Home </a></li>
                    <li><a href="{{ url_for('main.mydata') }}"><span> <img src="../static/img/color_icons/png/folder-14.png" style="width:18px;height:auto"/> </span> My Data </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('main.help') }}"><span> <img src="../static/img/color_icons/png/info.png" style="width:18px;height:auto"/> </span> Help </a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}"> <span> <img src="../static/img/color_icons/png/locked-6.png" style="width:18px;height:auto"/> </span> Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}"><span> <img src="../static/img/color_icons/png/user.png" style="width:18px;height:auto"/> </span> Profile  </a></li>
                    <li><a href="{{ url_for('auth.logout') }}"> <span> <img src="../static/img/color_icons/png/unlocked.png" style="width:18px;height:auto"/> </span> Logout </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>


    {% block footer %}

    <nav class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: #0A2B3D;height:60px">
    <div class="navbar-footer">
        <div class="container">
            
                <div class="col-md-3">
                    <p style="color:white;font-size: 11px" class="navbar-text">
                    <a></a>
                    </p>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <p style="color:white;font-size: 11px;align-content: center; vertical-align: bottom;padding-top: 7px" class="navbar-text-center">
                        <strong>Casc4de 2018  | <a href="">Terms and conditions</a>
                        |<a href="mailto:laura.duciel@hotmail.fr"> Contact us </a></strong><br>
                        <a href="http://www.casc4de.eu/"><img alt="Bootstrap Image Preview" src="../static/img/casc4de_logo_complete.png" style="width:auto;height:30px"/></a>
                    </p>
                </div>
                <div class="col-md-3" style="text-align: right;padding-top: 15px">
                    <p style="color:white;font-size: 11px;align-content: right; vertical-align: bottom;" class="navbar-text-center" >
                        <a href="https://bitbucket.org/LauraDuciel/ms_specviewproject_casc4deinternship"><img alt="Bootstrap Image Preview" src="../static/img/bitbucketlogo.png" style="width:auto;height:25px;padding-right: 2px;padding-left: 2px"/></a>
                        <a href="https://twitter.com/_casc4de_"><img src="../static/img/Twitter_Bird.png" style="width:auto;height:25px;padding-right: 2px;padding-left: 2px"/></a>
                    </p>
                </div>
            
        </div>
    </div>
    </nav>

    
    {% endblock %}
    
{% endblock %}

