{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    html,
    body {
        font-family: 'Varela Round', sans-serif;
    }
</style>
<body style="background-color:#DCE0EC">
	<div class="jumbotron" style="font-size: 14px;padding-right: 15px;padding-left: 1px;padding-bottom: 1px;padding-top: 1px">
	    <div class="row">
	        <div class="col-md-2" style="border-radius: 10px;background-color: #0A2B3D">
	            <img alt="Bootstrap Image Preview" src="../static/img/Help&Support.png" height="800px" class=" center-block"/>
	        </div>
	        <div class="col-md-10" >
	        	<center>
	        	<br>
	        	<br>
    		    <img alt="Bootstrap Image Preview" src="../static/img/help-and-support.png" width="400" height="auto" class=" center-block"/>
    		    <br>
		        <p style="font-size: 17px"> To use this tool, you will first need to <strong>get an account</strong> created. After that you will have access to <strong>"My Data"</strong> section </p>
			    <p style="font-size: 17px"> Here you will be able to <strong> upload</strong> your file(s) in .xy format or .d format (from Bruker Apex). They will be stored in your personal upload folder.</p>
			   	<p style="font-size: 17px">Then you will have acces to the uploaded files and be able to <strong>select</strong> the one you want to <strong>visualize</strong>.</p>

			    <p style="font-size: 17px"><strong>NB:</strong> The visualization tool is built with bokeh - <i>see <a href="https://bokeh.pydata.org/en/latest/">bokeh.pydata.org</a></i> - and include some icon clickable tools such save, zoom ...</p>
		    <br>
		    <br>
		        <p style="font-size: 15px;color:#31708f">For <strong>any further question</strong> regarding the use of this web app, please <strong>contact us</strong> at: ld@casc4de.eu</p>
		    	</center>
		    </div>
	    </div>   
	</div>
	<br>
	<br>
	<br>
</body>
{% endblock %}
