{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<body style="background-color:#DCE0EC">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
        rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
        rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../static/css/dropzone.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
    <link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>
 
    <script src="../static/js/jquery-ui.min.js"></script> 

    <script src="../static/js/bootstrap.min.js"></script> 

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>

    <script src="../static/js/dropzone.js"></script>
    <script src="../static/js/manage_drop.js"></script>

    <style type="text/css">
        html,
    body {
        font-family: 'Varela Round', sans-serif;
    }
        #row-main {
            overflow-x: hidden; /* necessary to hide collapsed sidebar */
        }
        #content {            
            -webkit-transition: width 0.3s ease;
            -moz-transition: width 0.3s ease;
            -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
        }
        #sidebar {
            -webkit-transition: margin 0.3s ease;
            -moz-transition: margin 0.3s ease;
            -o-transition: margin 0.3s ease;
            transition: margin 0.3s ease;
        }
        .collapsed {
            display: none; /* hide it for small displays */
        }
            .modal-confirm {        
        color: #636363;
        width: 400px;
    }
    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 14px;
    }
    .modal-confirm .modal-header {
        border-bottom: none;   
        position: relative;
    }
    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -10px;
    }
    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -2px;
    }
    .modal-confirm .modal-body {
        color: #999;
    }
    .modal-confirm .modal-footer {
        border: none;
        text-align: center;     
        border-radius: 5px;
        font-size: 13px;
        padding: 10px 15px 25px;
    }
    .modal-confirm .modal-footer a {
        color: #999;
    }       
    .modal-confirm .icon-box {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 9;
        text-align: center;
        border: 3px solid #f15e5e;
    }
    .modal-confirm .icon-box i {
        color: #f15e5e;
        font-size: 46px;
        display: inline-block;
        margin-top: 13px;
    }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #60c7c1;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        min-width: 120px;
        border: none;
        min-height: 40px;
        border-radius: 3px;
        margin: 0 5px;
        outline: none !important;
    }
    .modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
    </style>

    <div class="container-fluid">
    <div class="row">
            <div class="jumbotron jumbotron-fluid" style="background-image:url('../static/img/_EU-FT-MS-ICR logo RVB.png');background-size: auto 100%;background-repeat: no-repeat; color:white;background-color:#c2c2d6;background-position: right; width:100%;padding-left: 10px;padding-right: 10px">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../static/img/logo_transp.png" class="img-responsive">
                    </div>
                    <div class="col-md-9" style="font-size: 16px">
                        <br>
                        <h2>
                            <strong>MS-SpecView</strong>
                        </h2>
                        <p>
                            A Web Interface to Visualize your MS Spectra.
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" href="{{ url_for('main.help') }}">How To Use It?</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">

        <h2 class="text-info"><strong>News About Casc4de</strong></h2>
        <br>
        <div class="row">
            <div class="col-md-3" style="background-color: white; border-radius: 10px;width: 30.555%">
                <h3>
                    <strong>DON’T LET BIG DATA OVERWHELM YOUR RESEARCH !</strong>
                </h3>
                <p class="text-justify">
                    <img alt="Bootstrap Image Preview" src="../static/img/solutions.png" class="img-responsive"/>
                    <br>
                    <strong>CASC4DE</strong> builds innovative hardware-enhanced capabilities and softwares to <strong>accelerate your research</strong> and extract hidden insights from your <strong>data flow</strong>.
                    <br>
                    <br>
                    Find out <strong>more about us</strong> on: <strong><a href="http://www.casc4de.eu/">www.casc4de.eu</a></strong>
                </p>
            </div>
            <div class="col-md-1" style="width: 4.16666%">
                <p>

                </p>
            </div>
            <div class="col-md-3" style="background-color: white; border-radius: 10px;width: 30.555%">
                <h3>
                    <strong>CASC4DE IN PARIS: EU FT-ICR PROJECT STARTED !</strong>
                </h3>
                <p class="text-justify">
                    <img alt="Bootstrap Image Preview" src="../static/img/FTICRkickoff_small.jpg" class="img-responsive"/>
                    <br>
                    <strong>CASC4DE</strong> was in Paris on 20th Feb. to participate to the <strong>EU_FT-ICR_MS kick-off meeting</strong>! Let's start four years of hard work on this <strong>EU infrastructure</strong> project.
                </p>
            </div>
            <div class="col-md-1" style="width: 4.16666%">
                <p>

                </p>
            </div>
            <div class="col-md-3" style="background-color: white; border-radius: 10px;width: 30.555%">
                <h3>
                    <strong>CHECK OUR LAST DEVELOPMENT IN NMR !</strong>
                </h3>
                 <p class="text-justify">
                    <img alt="Bootstrap Image Preview" src="../static/img/MRClogo.png" class="img-responsive"/>
                    <br>
                    <strong>Automatic differential analysis of NMR experiments in complex samples</strong>
                    <br>
                    [...]
                    <br>
                    This program called Plasmodesma is a novel tool that should be useful to decipher complex mixtures, particularly in the discovery of biologically active natural products from plants extracts but can also in drug discovery or metabolomics studies.
                    <br>
                    <br>
                    See the <strong>complete</strong> corresponding <strong>article</strong> here: <strong><a href="https://onlinelibrary.wiley.com/doi/full/10.1002/mrc.4683">https://doi.org/10.1002/mrc.4683</a></strong>
                </p>
            </div>
        </div>

        <h2 class="text-info"><strong>About the European FT-ICR Network</strong></h2>
        <br>
        <div class="row">
            <div class="col-md-3" style="background-color: white; border-radius: 10px;width: 30.555%">
                <h3>
                    <strong>EUROPEAN NETWORK OF FT-ICR IS FUNDED !</strong>
                </h3>
                <p class="text-justify">
                    <img alt="Bootstrap Image Preview" src="https://i.pinimg.com/originals/af/1f/1b/af1f1b6c5968622995e0176e17e963d6.jpg" class="img-responsive"/>
                    <br>
                    The <strong>European network of FT-ICR</strong> (Fourier Transform Ion Cyclotron Resonance) mass spectrometry (MS) aims at creating a community to improve research. MS has become the <strong>most ubiquitous analytical techniques</strong> in use today, providing more information on the composition and the structure of a substance from a smaller amount of sample than any other techniques. Unlike other analytical techniques, such as NMR, which mainly rely on a unique technology, MS is characterized by the existence of a large range of mass analyzers. FT-ICR MS is the most powerful MS technique. It offers up to <strong>100 fold higher mass resolving power and mass accuracy</strong> than any other MS technique.
                </p>
                <p>

                </p>
            </div>
            <div class="col-md-1" style="width: 4.16666%">
                <p>

                </p>
            </div>
            <div class="col-md-3" style="background-color: white; border-radius: 10px;width: 30.555%">
                <h3>
                    <strong>EU_FT-ICR_MS PROJECT OBJECTIVES</strong>
                </h3>
                <p class="text-justify">
                    <img alt="Bootstrap Image Preview" src="../static/img/map_euft.png" class="img-responsive"/>
                    <br>
                    The Project has <strong>4 objectives</strong> :
                    <br>
                        1. Provide the EU academic, SME and industrial communities’ with <strong>access to world-class FT-ICR MS centers</strong>.
                    <br>
                        2. Build an EU <strong>community</strong> of end-users and FT-ICR MS scientists.
                    <br>
                        3.<strong> Open access</strong> to data and <strong>open source</strong> software to the EU FT-ICR MS network.
                    <br>
                        4. Strengthen the FT-ICR MS application fields by promoting <strong>innovative and cooperative research</strong> between European FT-ICR MS academic scientists and private companies(instrumentation and software).
                    <br>
                    <br>
                    <strong>Extracted from the project website.</strong>
                    <br>
                    <br>
                    See <strong>more info</strong> about the <strong>project</strong> on <strong><a href="http://eu-fticr-ms.eu/">eu-fticr-ms.eu</a></strong>
                </p>
            </div>
            <div class="col-md-1" style="width: 4.16666%">
                <p>

                </p>
            </div>
            <div class="col-md-3" style="background-color: white; border-radius: 10px;width: 30.555%">
                <h3>
                    <strong>UEF SECURES SIGNIFICANT EU FUNDING TO DEVELOP MASS SPECTROMETRY.</strong>
                </h3>
                <p class="text-justify">
                    <img alt="Bootstrap Image Preview" src="../static/img/uef.png" class="img-responsive"/>
                    The Department of Chemistry at the University of Eastern Finland in Joensuu has secured <strong>significant research funding from the EU for the development of high-resolution FT-ICR mass spectrometry</strong>. The European Network of Fourier Transform Ion Cyclotron Resonance Mass Spectrometry Centres involves ten different universities and research institutes and three industrial partners. [...]
                    <br>
                    <br>
                    <strong>01 Sep 2017</strong> | Network News.
                    <br>
                    <br>
                    See the <strong>complete</strong> corresponding <strong>article</strong> on <strong><a href="https://sciencebusiness.net/network/uef-secures-significant-eu-funding-develop-mass-spectrometry">Network News</a></strong>
                </p>
            </div>
        </div>
    </div>
    </div>
        <div class='row'>
        <div>
            <br>
            <br>
            <br>
        </div>
    </div>
    </div>

<br>
<br>
<br>

</body>
{% endblock %}