{% extends "base.html" %}
{% import 'wtf.html' as wtf %} 
<!-- /!\ TIP: To display the label of RadioField the following line: {{field.label(class="control-label")|safe}} has been added before the following "for" loop in the wtf.html bootstrap file which is thus a new imported template in the app folder:

        {% for item in field -%}
          <div class="radio">
            <label>
              {{item|safe}} {{item.label.text|safe}}
            </label>
          </div>
        {% endfor %} -->

{% block app_content %}

<body style="background-color:#DCE0EC">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
        rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
        rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../static/css/dropzone.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
    <link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>
 

    <script src="../static/js/jquery.tabletoCSV.js"></script>

    <script src="../static/js/bootstrap.min.js"></script> 

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>

    <script src="../static/js/dropzone.js"></script>
    <script src="../static/js/manage_drop.js"></script>

    <style> /* This is for styling the hide sidebar button */
    html,
    body {
        font-family: 'Varela Round', sans-serif;
        width:100% !important;
        height: 100% !important;
    }
        #row-main {
            overflow-x: hidden; /* necessary to hide collapsed sidebar */
        }
        #content {            
            -webkit-transition: width 0.3s ease;
            -moz-transition: width 0.3s ease;
            -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
        }
        #sidebar {
            -webkit-transition: margin 0.3s ease;
            -moz-transition: margin 0.3s ease;
            -o-transition: margin 0.3s ease;
            transition: margin 0.3s ease;
        }
        .collapsed {
            display: none; /* hide it for small displays */
        }
            .modal-confirm {        
        color: #636363;
        width: 400px;
    }
    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 14px;
    }
    .modal-confirm .modal-header {
        border-bottom: none;   
        position: relative;
    }
    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -10px;
    }
    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -2px;
    }
    .modal-confirm .modal-body {
        color: #999;
    }
    .modal-confirm .modal-footer {
        border: none;
        text-align: center;     
        border-radius: 5px;
        font-size: 13px;
        padding: 10px 15px 25px;
    }
    .modal-confirm .modal-footer a {
        color: #999;
    }       
    .modal-confirm .icon-box {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 9;
        text-align: center;
        border: 3px solid #f15e5e;
    }
    .modal-confirm .icon-box i {
        color: #f15e5e;
        font-size: 46px;
        display: inline-block;
        margin-top: 13px;
    }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #60c7c1;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        min-width: 120px;
        border: none;
        min-height: 40px;
        border-radius: 3px;
        margin: 0 5px;
        outline: none !important;
    }
    .modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
    </style>

    <div class="container-fluid">
	<div class="row">

		<div class="col-md-12 ">

			<div class="row">
                <!-- Column containing the hide sidebar button with additional styling parameters - it has an id to be called in a script changing its name to show sidebar according to the sidebar status -->
				<div class="col-md-1" style="width: 6.56666%">
					<div class="btn-group btn-group-vertical btn-group-md" role="group">
						 
                        <button id="show_hidesidebar" class="btn btn-default toggle-sidebar" type="button" style="  vertical-align:top;
                          margin-top:45px;
                          width:120px;height:30px;
                          transform:rotate(7deg);
                          -ms-transform:rotate(270deg); /* IE 9 */
                          -moz-transform:rotate(270deg); /* Firefox */
                          -webkit-transform:rotate(270deg); /* Safari and Chrome */
                          -o-transform:rotate(270deg);background-color: #0A2B3D;color:white;font-size: 10px;font-weight:bold;text-align: center;">
                            Hide SideBar
                        </button>
					</div>
				</div>
                <!-- Column for the presentation of file tree (and displaying button option) and dropzone. Contains also the button for displaying chosen dataset and for deleting files. -->
				<div class="col-md-3" id="sidebar" style="width: 22.6%">
					<div class="jumbotron"  style="background-color: #0A2B3D;height:auto;width:auto;padding-right: 1px;padding-left: 1px;padding-top: 2px;padding-bottom: 2px">
                        <!-- Here is the dropzone -->
                        <div id="drop_folders" class="folders">
                                <form id ="dropz" action="{{url_for('main.mydata')}}" class="dropzone" method="POST" enctype="multipart/form-data" style="margin:6% 6%;"></form>
                        </div> 
                        <!-- The file tree is shown here, with a class="list-group-item" and an info text diplayed on mouse hover "title=" -->
                        <div class="list-group-item" style=";font-size: 12px; padding:10px 10px 10px 10px" title="Click the dataset to select it before clicking the display button. Make sure you choose a .d folder or a .xy file.">
                            <center>
                            <a href="#" class="list-group-item list-group-item-action active" style="padding-right: 2px;padding-left: 2px">
                                <span> <img src="../static/img/color_icons/png/documents-6.png" style="width:30px;height:auto"/> </span><strong>Content of My Personal Folder</strong>
                            </a>
                            </center>
                            <br>
                            <!-- The file tree is generated in the following <div> thanks to alloy-ui plugin from the json object created in routes.py -->
                            <div id="tree" style="font-size: 9.3px"></div> 

                            <!-- Delete part, with a trash icon, if a dataset or file is selected and the trash is clicked, the object is deleted from upload folder -->
                            <div align="right" style="padding-top: 0px;padding-bottom: 0px">
                                    <button type="button" id="popup_button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color:Transparent;border:none;background-repeat: no-repeat;">
                                        <span> <img src="../static/img/color_icons/png/trash.png" style="width:18px;height:auto"/> </span>
                                    </button>
                            </div>
                            <!-- The Bootstrap Modal (popup) -->

                            <div id="myModal" class="modal fade">
                                <div class="modal-dialog modal-confirm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="icon-box">
                                                <i class="material-icons">&#xE5CD;</i>
                                            </div>              
                                            <h4 class="modal-title">Are you sure?</h4>  
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p  style="font-size: 18px">Do you really want to delete the file: <span style="font-style: italic;" id=file_name_selected></span>? This process cannot be undone.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                            <button id="delete_data" class="btn btn-danger" type="button">
                                                Yes, delete this.
                                            </button>
                                            <form action="{{url_for('main.deletemydata')}}">
                                                <input id="deletedata" type="submit" name="file_to_delete_name" value="default" hidden>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>     


                            <!-- Two button to handle the tree view (collapse and expand all) -->
                            <div>
                                <center>
                                    <button id="expand" class="btn btn-default" type="button" style="background-color: #0A2B3D;color:white;font-size: 10px;font-weight:bold;">
                                        <span><img src="../static/img/color_icons/png/Expand2.png" style="width:11px;height:auto"/> </span> Expand All
                                    </button>
                                    <button id="collapse" class="btn btn-default" type="button" style="background-color: #0A2B3D;color:white;font-size: 10px;font-weight:bold;">
                                        <span><img src="../static/img/color_icons/png/Collapse2.png" style="width:11px;height:auto"/> </span> Collapse All
                                    </button>
                                </center>
                            </div>

                            <!-- The following button is used to submit the name of selected file or dataset to trigger display -->
                            <div style="padding-top: 6px">
                                <center>
                                    <button id="submit_data" class="btn btn-default" type="button" style="background-color: #9ae59a;color:black;font-size: 12px;font-weight:bold;">
                                        Display Selected DataSet  <span> <img src="../static/img/black_icons/png/play-button.png" style="width:14px;height:auto"/> </span>
                                    </button>
                                    <form action="/mydata" >
                                        <input id="submitdata" type="submit" name="file_name" value="default" hidden>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>

				</div>

                <!-- The following contains the display/data  -->
				<div class="col-md-8 center-block" id="content" style ="width: 70.8333%;padding-right: 1px;padding-left: 15px;padding-top: 2px;padding-bottom: 2px">
                    <div class="jumbotron"  style="background-color: #0A2B3D;color:white;height:50px;width:auto;padding-right: 1px;padding-left: 10px;padding-top: 9px;padding-bottom: 1px;font-size: 20px;margin-bottom: 3px">
                        <p>
                              <span> <img src="../static/img/color_icons/png/find.png" style="width:35px;height:auto"/> </span><strong> Data Display</strong>
                        </p>
                    </div>
                    <!-- First the tabs are defined -->
					<div class="tabbable" id="tabs-1">

						<ul class="nav nav-tabs" style="margin-top: 3px">
                            <li class="nav-item">
                                <a class="nav-link active" href="#panel-Graph" data-toggle="tab" style="color:white;background-color: #0A2B3D"><span> <img src="../static/img/black_icons/logo_ms.png" style="width:20px;height:auto"/> </span> <strong> Graph</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#panel-FID" data-toggle="tab" style="color:white;background-color: #0A2B3D"><span> <img src="../static/img/black_icons/logo_ms_fid.png" style="width:20px;height:auto"/> </span> <strong> FID</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#panel-peakpick" data-toggle="tab" style="color:white;background-color: #0A2B3D"><span> <img src="../static/img/black_icons/logo_ms_pp.png" style="width:20px;height:auto"/> </span> <strong> Peak Picking</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#panel-Processing" data-toggle="tab" style="color:white;background-color: #0A2B3D"><span> <img src="../static/img/color_icons/png/settings-4.png" style="width:18px;height:auto"/> </span> <strong> More Data Processing</strong></a>
                            </li>

						</ul>
                        <!-- Then their content is set up -->
						<div class="tab-content">
							<div class="tab-pane active" id="panel-Graph">

                                <div>
                                    <center>

                                        {{ html_text|safe }}
                                        
                                        <br>
                                        <br>
                                    </center>
							     </div>

                            </div>
                            <div class="tab-pane " id="panel-FID">

                                <div>
                                    <center>

                                        {{ html_text2|safe }}
                                        
                                        <br>
                                        <br>
                                    </center>
                                 </div>
                            </div>
                            <div class="tab-pane " id="panel-peakpick">

                                <div>
                                    <center>

                                        {{ html_text_pp|safe}}

                                        <div id="peaklist">
                                            <br>
                                            <h4 style="color:#333"><strong>Peak List</strong></h4>
                                            {{ peak_list|safe }}
                                            <br>
                                            <div style="text-align: center"><button id="btnExport"> Export peak list to csv </button></div>
                                            <br>
                                        </div>
                                        <br>
                                        <br>
                                    </center>
                                 </div>
                            </div>

                            <div class="tab-pane" id="panel-Processing">
                                <!-- This tab contains subtabs for config of processing -->
                                <div class="tabbable" id="tabs-2" style="font-size: 11px;">
                                    <!-- Subtabs' name definition -->
                                    <ul class="nav nav-tabs nav-justified" style="margin-top: 3px">
                                        <li class="nav-item" style="padding-right: 3px">
                                            <a class="nav-link active" href="#panel-DataConfig" data-toggle="tab" style="color:white;background-color: grey"><span> <img src="../static/img/color_icons/png/settings-8.png" style="width:19px;height:auto"/> </span> <strong> Data Configuration</strong></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#panel-ProcessParam" data-toggle="tab" style="color:white;background-color: grey;padding-right: 2px;padding-left: 2px"><span> <img src="../static/img/color_icons/png/settings-3.png" style="width:19px;height:auto"/> </span> <strong> Processing Parameters</strong></a>
                                        </li>
                                        <li class="nav-item" style="padding-left: 3px;">
                                            <a class="nav-link active" href="#panel-ProcessResult" data-toggle="tab" style="color:white;background-color: grey"><span> <img src="../static/img/black_icons/png/graph-icon.png" style="width:19px;height:auto"/> </span> <strong> Processing Result</strong></a>
                                        </li>                                        
                                    </ul>
                                    <!-- And their contents -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="panel-DataConfig">
                                            <div style="padding-left: 100px;padding-right: 100px;padding-top: 20px">
                                                {{ wtf.quick_form(Dataconfig_form) }}
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="panel-ProcessParam">
                                            <div style="padding-left: 100px;padding-right: 100px;padding-top: 20px">
                                                {{ wtf.quick_form(Processparam_form) }}
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="panel-ProcessResult">
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>

                                <!-- A button that will be used to launch the process in future releases -->
                                <div >
                                    <center>
                                        <button id="submit_data" class="btn btn-default" type="button" style="background-color: #9ae59a;color:black;font-size: 12px;font-weight:bold;">
                                            Launch Processing  <span> <img src="../static/img/black_icons/png/play-button.png" style="width:14px;height:auto"/> </span>
                                        </button>
                                        <form action="/mydata" >
                                            <input id="submitdata" type="submit" name="processing" value="default" hidden>
                                        </form>
                                    </center>    
                                </div>
                            </div>


                                </div>
                            </div>

						</div>
					</div>
                    <div>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class='loader'>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <div class='row'>
        <div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

<!-- This is to create the file tree from the json 'list' -->
    <script>
        YUI().use(
          'aui-tree-view',
          function(Y) {
            var True=true
            var children = {{ tree|safe }};

            var treeView = new Y.TreeView(
              {
                boundingBox: '#tree',
                children: children
              }
            ).render();

            Y.one('#expand').on( //expand all button
              'click',
              function() {
                treeView.expandAll();
              }
            ); 

            Y.one('#collapse').on( //collapse all button
              'click',
              function() {
                treeView.collapseAll();
              }
            );
        });
    </script>


<!-- This is for dropzone -->
    <script>
        manage_drop()  // manage the Dropzone
        $('#refresh').hide()
        $(document).ready(function(){
            var list_check = [] // list of selected datasets for processing
        });     // end document ready
    </script>

<!-- Here the hide/show sidebar button is linked to its action of hiding a column and the text displayed on button changes according to this. -->
    <script>
        $(document).ready(function () {
            $(".toggle-sidebar").click(function () {
                $("#sidebar").toggleClass("collapsed");
                $("#content").toggleClass("col-md-11 col-md-8");
                if ($("#show_hidesidebar").text()=="Show SideBar"){
                    $("#show_hidesidebar").text("Hide SideBar");
                } else {
                    $("#show_hidesidebar").text("Show SideBar");
                };
                
                return false;
            });
        });
    </script>

<!-- This is used to get a tooltip when 'title=' is added -->
    <script>
        $( function() {
            $( document ).tooltip({
              track: true
            });
        } );
    </script>

<!-- Allows to get the name of the selected file in the tree view and transmit it to the server when the button diplay is clicked. -->
    <script>
        $(document).ready(function(){
            $("#submit_data").click(function(){
                var name_sub = $('.tree-node-selected').parent().attr('id')
                $("#submitdata").val(name_sub)
                $("#submitdata").click()
            });
        });
    </script>

<!-- Allows to get the name of the selected file in the tree view -->
    <script>
        $(document).ready(function(){
            $("#popup_button").click(function(){
                var file_name_sel = $('.tree-node-selected').parent().attr('id')
                $("#file_name_selected").text(file_name_sel)
            });
        });

    </script>
<!-- and transmit it to the server when the trash icon is clicked. -->
    <script>
        $(document).ready(function(){
            $("#delete_data").click(function(){
                var name_del = $('.tree-node-selected').parent().attr('id')
                $("#deletedata").val(name_del)
                $("#deletedata").click()
            });
        });
    </script>
    <script>
      $("#btnExport").click(function(){
          $("T_peak_list").tableToCSV();
        });
    </script>
</body>

{% endblock %}
<script>
$.getScript("../static/js/jquery-ui.min.js", function(){
   alert("Script loaded and executed.");
 });
</script>