{% extends "base.html" %}

{% block app_content %}
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    html,
    body {
        font-family: 'Varela Round', sans-serif;
    }
</style>
<body style="background-color:#DCE0EC">
<div class="jumbotron" style="font-size: 14px;padding-right: 1px;padding-left: 1px;padding-bottom: 1px;padding-top: 1px">
    <div class="row">
        <div class="col-md-2" style="border-radius: 10px;background-color: #0A2B3D">
            <img alt="Bootstrap Image Preview" src="../static/img/profile.png" height="800px" class=" center-block"/>
        </div>
        <div class="col-md-8">
            <center>
                <br>
                <img src="{{ user.avatar(150) }}" class="img-circle" style="width:150px;height: auto"/>
                <h2><strong> {{ user.username }} </strong></h2>
                {% if user.about_me %}
                    <blockquote class="blockquote" style="border-left:0px">
                        <p class="mb-0" style="font-size: 18px ">
                            <strong>About me: </strong>{{ user.about_me }} 
                        </p>

                        <footer class="blockquote-footer">
                            {% if user.last_seen %}
                            <p style="font-size: 17px"><strong>Last seen on:</strong> {{ moment(user.last_seen).format('LLL') }}</p>
                            {% endif %}
                        </footer>
                    </blockquote> 
                {% endif %}
                {% if user == current_user %}
                <p style="font-size: 14px"><a href="{{ url_for('main.edit_profile') }}"><strong>Edit your profile</strong></a></p>
                {% endif %}
            </center>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
<br>
<br>
<br>
</body>
{% endblock %}